
<div class="form-group">
        
        {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_paymethod_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
        </div>
</div>



<div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>{{ form_widget(form.isActive) }}
                 {{ form_label(form.isActive,"Activo") }}</label>
            </div>
            <span id='backend_userbundle_usertype_isActive_errorloc' class="help-block"> {{ form_errors(form.isActive) }} </span>
        </div>
    </div>

<div class="form-group">

    {{ form_label(form.file,"Imagen", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <div class="col-xs-6">
        {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_adminbundle_categoria_file_errorloc' class="help-block"> {{ form_errors(form.file) }} </span>
    </div>
    {% if entity.getWebPath() %}
        <img src="{{ asset(entity.getWebPath()) }}" width="30" />
    {% endif %}
</div>
