{% extends '::backend.html.twig' %}

{% block container -%}
    <h3>Nuevo Cliente</h3>
    
   
    <div class="well">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
    <form class="form-horizontal" id="tab" name="tab" method="post" novalidate="true"    action="{{ path('customer_create') }}" >
     {{ form_errors(form) }}
   

    
    {% include 'BackendCustomerBundle:Customer:_customer.html.twig' %} 

    
    {{ form_rest(form) }}

    <div class="form-group">
    <!-- Button -->
     <div class="text-center">
    <button type="submit" class="btn btn-primary "><i class="fa fa-plus"></i>Crear</button>
    <button type="button" class="btn btn-inverse " data-url="{{ path('customer',{'search': app.session.get('customer_search') }) }}"><i class="fa fa-chevron-left"></i> Volver</button>
    </div>
    </div>
    
    
    </form>
    </div>
    
    </div>
    </div>
    
    

       
{% endblock %}
{% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendUserBundle/Resources/public/js/validate_newuser.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
