{% extends "::customer/backend.html.twig"%}
{% block container %}
  
    
    <ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Perfil</a></li>
    <li><a href="#profile" data-toggle="tab">Contraseña</a></li>
    </ul>
    
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
    <form class="form-horizontal" id="tab" name="tab" method="post" novalidate  {{ form_enctype(form) }} action="" >
    {{ form_errors(form) }}
        
    <input type="hidden" name="action" value="update" />
    
    <div class="form-group">
        
        {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_userbundle_usertype_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
        </div>
    </div>
    
    
   <div class="form-group">

{{ form_label(form.lastname,"Apellido", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
 {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
    
    <div id='backend_userbundle_usertype_lastname_errorloc' class="help-block error" >{{ form_errors(form.lastname) }}</div>
</div>
</div>
 
    
<div class="form-group" >

{{ form_label(form.email,"Email", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.email, { 'attr': {'class': 'form-control','readonly':'readonly' } }) }}
    
 <div id='backend_userbundle_usertype_email_errorloc' class="help-block error" >{{ form_errors(form.email) }}</div>   
</div>
</div>
    

    
<div class="form-group">

{{ form_label(form.phone,"Telefono", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder': "011 5555-5555"} }) }}
    
 <div id='backend_customerbundle_usertype_phone_errorloc' class="help-block error" >{{ form_errors(form.phone) }}</div>   
</div>
</div>
         
<div class="form-group">

{{ form_label(form.mobile,"Celular", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
    
 <div id='backend_customerbundle_usertype_mobile_errorloc' class="help-block error" >{{ form_errors(form.mobile) }}</div>   
</div>
</div>
  
  <div class="form-group">

{{ form_label(form.tipodni,"Tipo DNI", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.tipodni, { 'attr': {'class': 'form-control'} }) }}
    
 <div id='backend_customerbundle_usertype_tipodni_errorloc' class="help-block error" >{{ form_errors(form.tipodni) }}</div>   
</div>
</div>
  
    
  <div class="form-group">

{{ form_label(form.dni,"DNI", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.dni, { 'attr': {'class': 'form-control'} }) }}
    
 <div id='backend_customerbundle_usertype_dni_errorloc' class="help-block error" >{{ form_errors(form.dni) }}</div>   
</div>
</div>

 {% if entity.getIsComercio%}
 <div class="form-group">

{{ form_label(form.cuit,"CUIT", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.cuit, { 'attr': {'class': 'form-control'} }) }}
    
 <div id='backend_customerbundle_usertype_cuit_errorloc' class="help-block error" >{{ form_errors(form.cuit) }}</div>   
</div>
</div>
 {%else %}
    {% do form.cuit.setRendered %}
 {% endif %}
 
<div class="form-group">

{{ form_label(form.birthday,"Fecha Nacimiento", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(form.birthday, { 'attr': {'class': 'input-large'} }) }}
    
 <div id='backend_customerbundle_usertype_birthday_errorloc' class="help-block error" >{{ form_errors(form.birthday) }}</div>   
</div>
</div>  
    
    
    {{ form_rest(form) }}
    
    
<div class="form-group col-xs-10">
	<div class="text-center">
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>Actualizar</button>
	<button type="button" class="btn btn-inverse" data-url="{{ path('customer_principal') }}" ><i class="fa fa-chevron-left"></i> Volver</button>
	</div>
</div>
    
    </form>
    </div>
    <div class="tab-pane fade" id="profile">
    <form id="tab2" class="form-horizontal" name="tab2" method="post" novalidate  {{ form_enctype(form) }} action="" >
    {{ form_errors(pass) }}
     
    <input type="hidden" name="action" value="change" />
    
    <div class="form-group">

{{ form_label(pass.password.first,"Nueva Contraseña", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(pass.password.first, { 'attr': {'class': 'form-control'} }) }}
    
    <div id='backend_userbundle_usertype_password_firt_errorloc' class="help-block error" >{{ form_errors(pass.password.first) }}</div>
</div>
</div>
      
   
     <div class="form-group">

{{ form_label(pass.password.second,"Repetir Contraseña", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
<div class="col-xs-6">
{{ form_widget(pass.password.second, { 'attr': {'class': 'form-control'} }) }}
    
  <div id='backend_userbundle_usertype_password_second_errorloc' class="help-bloock error" >{{ form_errors(pass.password.second) }}</div>   
</div>
</div>
    
    
    
    {{ form_rest(pass) }}
    
    <div class="form-group col-xs-10">


<button type="submit" class="btn btn-primary center-block"><i class="fa fa-check"></i>Cambiar</button>

</div>
    
    
    </form>
    </div>
    
    
    
    
   
  
    
   
{% endblock %}
{% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendCustomerBundle/Resources/public/js/validate_profile.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
