 <!-- Sidebar Menu Items  -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{ path('principal') }}"><i class="fa fa-fw fa-dashboard"></i> Principal</a>
                    </li>
                    {% if is_granted('ROLE_VIEWUSER') %}
                    <li>
                        <a href="{{ path('user') }}"><i class="fa fa-users"></i> Usuarios</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_VIEWCUSTOMER') %}
                    <li>
                        <a href="{{ path('customer') }}"><i class="fa fa-male"></i> Clientes</a>
                    </li>
                    {% endif %}
                    
                    
					
                    {% if  is_granted('ROLE_SETEO') or is_granted('ROLE_ADMIN') or  is_granted('ROLE_VIEWZONA')
                        or is_granted('ROLE_VIEWBARRIO') or is_granted('ROLE_VIEWMETODOPAGO')
                    %}
                      <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Configuración <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('group') }}">Grupos</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_SETEO') %}
                            <li>
                                <a href="{{ path('seteo') }}">Seteo</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_VIEWZONA') %}
                            <li>
                                <a href="{{ path('zona') }}">Zona</a>
                            </li>
                            {% endif %}
                            
                            {% if is_granted('ROLE_VIEWBARRIO') %}
                            <li>
                                <a href="{{ path('barrio') }}"> Barrios</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_VIEWCATEGORIA') %}
                            <li>
                                <a href="{{ path('categoria') }}"> Categorías</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_VIEWSUBCATEGORIA') %}
                            <li>
                                <a href="{{ path('subcategoria') }}"> Subcategorías</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_VIEWMETODOPAGO') %}
                            <li>
                                <a href="{{ path('paymethod') }}"> Medios de Pago</a>
                            </li>
                            {%endif%}
                            
                        </ul>
                    </li>
                     {% endif %}
                     <li >
                                <a href="{{ path('frontend_homepage')}}"><i class="fa fa-thumbs-up"></i>Volver al sitio </a>
                            </li> 
                </ul>
            </div>