<div class="form-group">
        
        {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_userbundle_group_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
        </div>
</div>


<div class="form-group">
        
        {{ form_label(form.role,"Rol", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.role, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_userbundle_group_role_errorloc' class="help-block"> {{ form_errors(form.role) }} </span>
        </div>
</div>
     
 

 
<div class="form-group">
        
        {{ form_label(form.accesos,"Accesos", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
       
            {{ form_widget(form.accesos, { 'attr': {} }) }}
            <span id='backend_userbundle_group_accesos_errorloc' class="help-block"> {{ form_errors(form.accesos) }} </span>
       
</div>
  
   


 
    
    
      
      
   
     
       
    
     
     
