<div class="form-group">
        
        {{ form_label(form.dia,"Dia", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.dia, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_horario_dia_errorloc' class="help-block"> {{ form_errors(form.dia) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.cerrado,"Permanece cerrado", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.cerrado, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_horario_cerrado_errorloc' class="help-block"> {{ form_errors(form.cerrado) }} </span>
        </div>
</div>