{% extends '::front/base_front.html.twig' %}
{% block header %}
<header id="header_tienda" class="{{ tienda.getHeader() }}">
    <div class="container">
        <div class="row shop-bg">

            <div class="col-md-8">
                <div class="intro-text">

                    {% if tienda.getWebPath() %}
                        <img src="{{ asset(tienda.getWebPath()) }}" class="logo" />
                    {% endif %}

                    <div class="info">
                        <p class="shop-open">{% if tienda.getOpen() %}<span class="label label-success">Recibe pedidos estando cerrado</span>{% else %}<span class="label label-danger">No recibe pedidos estando cerrado</span>  {% endif %}</p>
                        <p class="shop-payment text-left">Medios de pago disponibles:</p>

                        <ul class="list-inline text-left payments-method">
                            {% for p in  tienda.getPaymethods() %}
                                <li>
                                    <img src="{{ p.getWebPath() }}" class="icon" title="{{ p.getName() }}">
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="shop-delivery text-left">Tiempo de entrega estimado: {{ tienda.getTiempoEntrega() }}</p>
                        <p class="shop-delivery text-left">Servicio de delivery: {% if tienda.getDelivery() is null %} Sin cargo {% else %} {{ tienda.getDelivery() }}{% endif %}</p>
                        <!--<p class="shop-delivery text-left">Pedido mínimo: {% if tienda.getMinimo() is null %} -- {% else %}  {{ " $ " ~tienda.getMinimo() }} {% endif %}</p>-->
                    </div> <!-- info -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-text">
                    <div class="info">
                        <p class="shop-title text-right">{{ tienda.getName() }}</p>
                        <p class="shop-address text-right">{{ tienda.getDireccion().getCalle() ~ " " ~ tienda.getDireccion().getNumero() }}</p>
                        <p class="shop-delivery text-right">Radio de entrega: {{ tienda.getRadio() }} km.</p>
                        <p class="shop-delivery text-right">Pedido mínimo: {% if tienda.getMinimo() is null %} -- {% else %}  {{ " $ " ~tienda.getMinimo() }} {% endif %}</p>
                        <h3 class="shop-status label label-warning" data-url = "{{ path('frontend_checkTime') }}" id = "status" data-tienda = " {{ tienda.getId() }} "></h3>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
            <div class="shop-horarios" id="horarios">
                <table style="margin-left:15%;">
                    <tr>
                    {% for h in horarios %}
                    <td style="text-align: center">{{ h.getDia.getName() }}</td>
                    {% endfor %}
                    </tr>
                    <tr>
                        {% for h in horarios %}
                        {% if h.getCerrado() %}<td> Cerrado </td>
                        {% else %}
                        <td>
                            {% if h.getDesde() is not null and h.getHasta() is not null %}
                                {{ h.getDesde() ~ " - "~ h.Hasta()~"hs."}}
                            {% else %}
                                Cerrado
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    <tr>
                        {% for h in horarios %}
                            {% if h.getCerrado() %}<td> Cerrado </td>
                            {% else %}
                                <td>
                                    {% if h.getDesdeT() is not null and h.getHastaT() is not null %}
                                        {{ h.getDesdeT() ~ " - "~ h.HastaT()~"hs."}}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</header> <!--<div style="width: 100%; height: 50px;"></div> -->
{% endblock %}

{% block container %}

    <div class="container">

        <!-- Buscador interno -->
        <div class="row buscador_tienda">
            <div class="col-lg-6">
                <!--<h2 class="subtitle">Nuestros productos</h2>-->
                <button class="btn btn-warning" type="button">
                    {{ subcategoria~" " }} <span class="badge"> {{ count }}</span>
                </button>
                {% if subcategoria != "Todos" %}
                <!--
                <button class="btn btn-danger" type="button" id="quitar_filtro">
                    Quitar filtros
                </button>
                    -->
                    <a href="{{ path('frontend_all_products', { 'id': tienda.id }) }}" class="btn btn-danger" role="button">Quitar filtros</a>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <form id="custom-search-form" class="form-search form-horizontal" action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar mas productos" id="search-query" value="{{ search }}">
                    <!--
                    <span class="input-group-btn">
                     <a href="{{ path('frontend_product_filter', { 'id': tienda.id}) }}" class="btn btn-warning" role="button" id="search-button"><i class="fa fa-search"></i></a>
                    </span>
                    -->
                    <span class="input-group-btn"><button class="btn btn-warning" id="search-button" data-url="{{ path('frontend_product_filter', { 'id': tienda.id}) }}" type="button"><i class="fa fa-search"></i></button></span>
                </div><!-- /input-group -->
                </form>
            </div>
        </div>
        <!-- /.row -->
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="subtitle_shop">Nuestros productos</h2>
            </div>
        </div>
        <!-- Page Features -->
        <div class="row text-center" id="productos">
			{% for p in productos %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ p.getWebPath() }}" alt="">
                    <div class="caption">
                        <p class="product-title">{{ p.getName() }}</p>
                        <p class="product-desc">{{ p.getDescription }}</p>
                        <p class="product-price">$ {{ p.getPrecio() }}</p>
						            <p class="product-details">
                            {% if p.getVariedades() is not empty %}
                            <button type="button" class="btn btn-link variedades" data-toggle="modal" data-target="#variedades{{p.getId() }}" >Ver Variedades</button>
                            <div class="modal fade" id="variedades{{p.getId() }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                              <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                 <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" >Variedades Disponibles</h4>
                                    </div>
                                    <div class="modal-body">
                                       
                                          
                                              <ul class="list-unstyled">
                                              {% for v in p.getVariedades()%}
                                                <li class="col-md-4">{{ v.getName() }}</li>
                                                
                                                {% endfor %}
                                              </ul>
                                            
                                        
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                      
                                    </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                        </p>  
						                    
                    </div>					
                    <p>
						<div class="center">
						  
						      <div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-warning btn-number"  data-type="minus" data-field="quant[2]">
						                <span class="glyphicon glyphicon-minus slider-minus" data-id="{{p.getId}}"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[2]" class="form-control input-number" id="input-producto-{{p.getId}}" value="0" min="0" max="100" style="text-align:center">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[2]">
						                  {% if p.getVariedades() is not empty %}
                              <span class="glyphicon glyphicon-plus slider-plus-variedad" id="slider-plus-variedad-{{p.getId()}}" data-id="{{p.getId}}" data-thumb="{{ p.getWebPath() }}" data-name="{{ p.getName() }}" data-sucursalId="{{ tienda.id }}" data-sucursalName="{{ tienda.getName() }}" data-sucursalImg="{{ tienda.getWebPath() }}" data-price="{{ p.getPrecio() }}" data-costo="{{ tienda.getDelivery() }}" data-minimo="{{ tienda.getMinimo()}}" data-maxvariedad="{{ p.getMaxVariedad()}}" data-minvariedad="{{ p.getMinVariedad()}}" data-typevariedad="{{ p.getQtyVariedad()}}"></span>
                              {% else %}
                              <span class="glyphicon glyphicon-plus slider-plus" data-id="{{p.getId}}" data-thumb="{{ p.getWebPath() }}" data-name="{{ p.getName() }}" data-sucursalId="{{ tienda.id }}" data-sucursalName="{{ tienda.getName() }}" data-sucursalImg="{{ tienda.getWebPath() }}" data-price="{{ p.getPrecio() }}" data-costo="{{ tienda.getDelivery() }}" data-minimo="{{ tienda.getMinimo()}}"></span>
                              {% endif %}
						              </button>
						          </span>
						      </div>
							          
						</div>
						
                    </p>
                </div> <!-- thumbnail -->
            </div> <!-- product -->
			{% endfor %}

      <!-- modal para seleccionar variedades -->
                  <div class="modal fade" id="seleccionarvariedades" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-url="{{path('frontend_variedades')}}">
                              <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                 <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" >Variedades Disponibles</h4>
                                    </div>
                                    <div class="modal-body">
                                         
                                         <p class="textExplicativo" id="text-max-variedad">
                                         La cantidad máxima de distintas variedades 
                                         a seleccionar son <span id="max-variedad"></span></p>
                                           <div class="col-md-12">
                                           
                                              <ul class="list-unstyled" id="listVariedad" >
                                              
                                              </ul>
                                           </div> 
                                      <div class="  hideElement " style="color: #a94442"  id="messageVariedad" ></div>  
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" data-id="" class="btn btn-primary aceptarVariedades" >Aceptar</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                      
                                    </div>
                                </div>
                              </div>
                            </div>
                     <!-- fin modal variedades--> 


        </div>
        <!-- /.row -->

       </div>
    <!-- /.container -->
	  

	
{% endblock %}

{% block javascripts %}
  {{ parent()}}
 <script src="{{ asset("js/readmore.min.js") }}"></script>

 {% javascripts '@FrontendHomeBundle/Resources/public/js/producto.js'filter='?uglifyjs2' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% javascripts '@FrontendHomeBundle/Resources/public/js/checkTime.js'filter='?uglifyjs2' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
 {% endblock %}                         
