{% extends '::front/base_front.html.twig' %}
{% block header %}
  <div style="width: 100%; height: 50px;"></div>                  
{% endblock %}

{% block container %}

    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="subtitle">Nuestros productos</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
			{% for p in productos %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ p.getWebPath() }}" alt="">
                    <div class="caption">
                        <p class="product-title">{{ p.getName() }}</p>
                        <p class="product-desc">{{ p.getDescription }}</p>
                        <p class="product-title">$ {{ p.getPrecio() }}</p>
						<p class="product-desc">{% if p.getVariedades() is not empty %}<a href="#">Ver variedades</a>{% endif %}</p>  
						                    
                    </div>					
                    <p>
						<div class="center">
						  
						      <div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-warning btn-number"  data-type="minus" data-field="quant[2]">
						                <span class="glyphicon glyphicon-minus slider-minus" data-id="{{p.getId}}"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[2]" class="form-control input-number" id="input-producto-{{p.getId}}" value="0" min="0" max="100">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[2]">
						                  <span class="glyphicon glyphicon-plus slider-plus" data-id="{{p.getId}}" data-thumb="{{ p.getWebPath() }}" data-name="{{ p.getName() }}" data-sucursalId="{{ sucursal.id }}" data-sucursalName="{{ sucursal.getName() }}" data-sucursalImg="{{ sucursal.getWebPath() }}" data-price="{{ p.getPrecio() }}"></span>
						              </button>
						          </span>
						      </div>
							
						</div>
						
                    </p>
                </div>
            </div> <!-- product -->
			{% endfor %}

        </div>
        <!-- /.row -->

       </div>
    <!-- /.container -->
	  

	
{% endblock %}

{% block javascripts %}
  {{ parent()}}
 <script src="{{ asset("js/front/producto.js") }}"></script>
 
 {% endblock %}                         