<div class="form-group">

    {{ form_label(form.file,"Imagen (tamaño recomendado: 300x300 px)", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <div class="col-xs-6">
        {{ form_widget(form.file, { 'attr': {'class': 'input-xlarge'} }) }}
        <span id='backend_customeradminbundle_producto_file_errorloc' class="help-block"> {{ form_errors(form.file) }} </span>
    </div>
    {% if entity.getWebPath() %}
        <img src="{{ asset(entity.getWebPath()) }}" width="100" height="100" />
    {% endif %}
</div>

<div class="form-group">

    {{ form_label(form.sucursales,"Sucursales", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <i class="fa fa-comment" data-toggle="tooltip" data-placement="right" title="Sucursal en la cual vende el producto"></i>
    <div class="col-xs-6">
        {{ form_widget(form.sucursales, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_customeradminbundle_producto_sucursales_errorloc' class="help-block"> {{ form_errors(form.sucursales) }} </span>
    </div>
</div>

<div class="form-group">

    {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <div class="col-xs-6">
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_customeradminbundle_promocion_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
    </div>
</div>

<div class="form-group">
    {{ form_label(form.type,"Tipo de Promocion", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <div class="col-xs-6">
        {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}

        <span id='backend_customeradminbundle_promocion_type_errorloc' class="help-block"> {{ form_errors(form.type) }} </span>
    </div>
</div>

<div class="form-group">

    {{ form_label(form.detail,"Detalle", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <i class="fa fa-comment" data-toggle="tooltip" data-placement="right" title="Ejemplo: 25% o 2x1"></i>
    <div class="col-xs-6">
        {{ form_widget(form.detail, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_customeradminbundle_promocion_detail_errorloc' class="help-block"> {{ form_errors(form.detail) }} </span>
    </div>
</div>


<div class="form-group">

    {{ form_label(form.terms,"Terminos y condiciones", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <div class="col-xs-6">
        {{ form_widget(form.terms, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_customeradminbundle_promocion_terms_errorloc' class="help-block"> {{ form_errors(form.terms) }} </span>
    </div>
</div>

<div class="form-group">

    {{ form_label(form.producto,"Producto", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <i class="fa fa-comment" data-toggle="tooltip" data-placement="right" title="Seleccione un producto para la promocion."></i>
    <div class="col-xs-6">
        {{ form_widget(form.producto, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_customeradminbundle_producto_subcategorias_errorloc' class="help-block"> {{ form_errors(form.producto) }} </span>
    </div>
</div>

<div class="form-group">

    {{ form_label(form.subcategorias,"Subcategoría", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <i class="fa fa-comment" data-toggle="tooltip" data-placement="right" title="Seleccione una categoría completa."></i>
    <div class="col-xs-6">
        {{ form_widget(form.subcategorias, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_customeradminbundle_producto_subcategorias_errorloc' class="help-block"> {{ form_errors(form.subcategorias) }} </span>
    </div>
</div>


