<div class="form-group">
        
        {{ form_label(form.categoria,"Categoria", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.categoria, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_subcategoria_categoria_errorloc' class="help-block"> {{ form_errors(form.categoria) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_subcategoria_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
        </div>
</div>

<div class="form-group">

    {{ form_label(form.code,"Codigo", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
    <div class="col-xs-6">
        {{ form_widget(form.code, { 'attr': {'class': 'form-control'} }) }}
        <span id='backend_adminbundle_subcategoria_code_errorloc' class="help-block"> {{ form_errors(form.code) }} </span>
    </div>
</div>


<div class="form-group">
        
        {{ form_label(form.file,"Imagen", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_subcategoria_file_errorloc' class="help-block"> {{ form_errors(form.file) }} </span>
        </div>
        {% if entity.getWebPath() %}
        <img src="{{ asset(entity.getWebPath()) }}" width="100" height="100" />
        {% endif %}
</div>