{% extends '::front/base_front.html.twig' %}

{% block container %}

  <input type="hidden" name="check" id="check" value="{{ path('frontend_checkbarrio') }}">
	<section>
		<div class="container">
			<div class="row">
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Sugeridos</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" id="sugeridos" data-url="{{ path('frontend_premium') }}">
							
          
								</div>  <!-- items-->
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
          	<div class="col-sm-12 padding-right">
					<div class="features_items" id="tiendas_listado" data-urlfavorito="{{ path('frontend_addFavorito')}}" data-url="{{ path('frontend_tiendas')}}"><!--features_items-->
						<h2 class="title text-center" id="title_mira">Mirá lo que tenes cerca</h2>
					</div><!--features_items-->
          
          	<div class="col-sm-12 ">
                    <a class="btn btn-warning" id="see_more">queres ver más!</a>
            </div>
				</div>
			</div>
		</div>
	</section>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="horarioModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Horarios de Atención</h4>  
       </div>
       <div class="modal-body">
            
       </div>
    </div>
  </div>
</div>


{% endblock %}
  {% block javascripts %}
  {{ parent()}}
 <script src="{{ asset("js/front/geolocalizar.js") }}"></script>
 
 {% endblock %} 
