<div>
 <p>
 Hola {{ customerName }}
 </p>
 
 <p> Gracias por haber realizado tu pedido con nosotros!</p>
 
  <p> Ya hemos enviado tu pedido a {{ sucursalName }} y podrás seguir desde 
   tu cuenta el estado del mismo. </p>
  
  <p>Igualmente te pasamos los datos del comercio por si necesitas comunicarte con ellos!</p>
 
 <p>
    Telefóno: {{ sucursalTelefono }}<br> 
    Email: {{ sucursalEmail }}
 </p>
 
 <p>Que tengas un buen día!</p>
 <p>{{ empresa }}</p>


</div>
