<div class="form-group">
        
        {{ form_label(form.sucursal,"Sucursal", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.sucursal, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_producto_sucursal_errorloc' class="help-block"> {{ form_errors(form.sucursal) }} </span>
        </div>
</div>


<div class="form-group">
        
        {{ form_label(form.comentarios,"Observaciones", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.comentarios, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_producto_comentarios_errorloc' class="help-block"> {{ form_errors(form.comentarios) }} </span>
        </div>
</div>