<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
     @page { margin: 180px 50px; font-size: 11px;}
     #header { position: fixed; left: 0px; top: -180px; right: 0px; height: 150px; background-color: #fff; text-align: center; border-bottom: 1px solid #000; }
     #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 200px; font-size: 12px; /*border-top: 1px solid #000;*/ text-align:center; }
     .label_span { display: inline-block; width: 100px; font-weight: bold;}
     .label_span_alone { display: inline-block; width: 200px; font-weight: bold;}
     .margin_left_10 { margin-left: 10px;}
     #firma {  width: 100%; height: 140px; text-align: right;}
     .table{ width: 100%;}
     .table td { width: 50%; text-align: left;}
     .title_conclusion{ font-weight: bold; width: 100px; margin-top: 20px; }
     .subtitle{ font-weight: bold; width: 100%; margin-top: 20px;}
	 .valores{ text-align:right; margin-left:560px;float:right;}
     .tecnicas{ width: 100%}
     .tecnicas .first{ width: 400px}
	 .tecnicas .first-long { width:250px;}
     .tecnicas .second { width: 150px; text-align: left;}
     .tecnicas .third { width: 150px; text-align: right;}
     .tecnicas .fourth { width: 150px; text-align: right; }
	 .tecnicas .second-long { width: 450px; text-align: left; }
	 .tecnicas .third-long { width: 150px; }
     .separador {border-top: 1px solid #000; margin: 0; padding: 0}
	 .subitems {margin-left:20px;}
	 p{
      margin: 0;
      padding: 0;
      display: inline-block;
   }
   </style>
  <body>
   <div id="header">
     <!--<img src="img/logo_labo_300x100.jpg" width="300" height="100">-->
   </div>
   <div id="footer">
      <div id="firma">
        <div id="firma_name">{{ entity.getSucursal.getName }}</div>
     </div>
     <hr class="separador">
     <p>Telefono: {% if entity.getSucursal().getPhone() %} {{ entity.getSucursal.getPhone }} {% endif %}</p>
   </div>
   <div id="content">
    <table class="table">
      <tr>
        <td> <span class="label_span">Fecha:</span> {{ entity.createdAt |date('d-m-Y H:m:s') }} </td>
        <td> <span class="label_span">Pedido:</span> {{ entity.id }} </td>
      </tr>
      <tr>       
        <td> <span class="label_span">Cliente:</span> {{ entity.getCustomer.getName | title }} </td>
		
      	<td> <span class="label_span">Direccion:</span> {{ entity.getDireccion.getCalle ~ " " ~ entity.getDireccion.getNumero  ~ " " ~ entity.getDireccion.getPiso | title }} </td>
	  </tr>
    </table>
     
     <hr>
	 
	 <table class="tecnicas">
	            {% for d in entity.getDetalles() %}
	               <tr>
	                <td class="first">{{ d.getCantidad() }}</td>
	                <td class="second">{{ d.getProducto().getName() }}</td>
                    <td class="third">{{ d.getVariedades() }}</td>
	                <td class="fourth">{{ d.getPrecio() }}</td>
	               </tr>
	            {% endfor %}
	 </table>

     {% if entity.comentarios is not null %}
     <div class="conclusion">
     <span class="title_conclusion">Observaciones:</span> {{ entity.comentarios |raw}}
     </div>
    {% endif %}
     
   </div>
 </body>
 </html>
