<div class="form-group">
        
        {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.cuit,"CUIT", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.cuit, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_cuit_errorloc' class="help-block"> {{ form_errors(form.cuit) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.direccion,"Direccion", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
         <a href="{{ path("direccion_new",{'type': 0}) }}" rel="shadowbox" id="agregar_direccion" data-url="{{ path('direccion_loadDireccion')}}" role="button" class="btn btn-info"  style="float:right; margin-right:-35%">Nueva Direccion</a>

            {{ form_widget(form.direccion, { 'attr': {'class': 'form-control'} }) }}
                        <span id='backend_customeradminbundle_sucursal_direccion_errorloc' class="help-block"> {{ form_errors(form.direccion) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.phone,"Telefono", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_phone_errorloc' class="help-block"> {{ form_errors(form.phone) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.email,"Email", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_email_errorloc' class="help-block"> {{ form_errors(form.email) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.paymethods,"Medios de Pago", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.paymethods, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_paymethods_errorloc' class="help-block"> {{ form_errors(form.paymethods) }} </span>
        </div>
</div>



<div class="form-group">
        
        {{ form_label(form.website,"Sitio web", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_website_errorloc' class="help-block"> {{ form_errors(form.website) }} </span>
        </div>
</div>


<div class="form-group">
        
        {{ form_label(form.radio,"Radio de Entrega (KM)", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.radio, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_sucursal_radio_errorloc' class="help-block"> {{ form_errors(form.radio) }} </span>
        </div>
</div>


<div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>{{ form_widget(form.open) }}
                 {{ form_label(form.open,"Abierto 24 hs") }}</label>
            </div>
            <span id='backend_customeradminbundle_sucursal_open_errorloc' class="help-block"> {{ form_errors(form.open) }} </span>
        </div>
    </div>


<div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>{{ form_widget(form.is_active) }}
                 {{ form_label(form.is_active,"Activa") }}</label>
            </div>
            <span id='backend_customeradminbundle_sucursaltype_is_active_errorloc' class="help-block"> {{ form_errors(form.is_active) }} </span>
        </div>
    </div>

<div class="form-group">
        
        {{ form_label(form.file,"Imagen (tamaño recomendado: 300x300 px)", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.file, { 'attr': {'class': 'input-xlarge'} }) }}
            <span id='backend_customeradminbundle_sucursaltype_file_errorloc' class="help-block"> {{ form_errors(form.file) }} </span>
        </div>
        {% if entity.getWebPath() %}
          <img src="{{ asset(entity.getWebPath()) }}" width="100" height="100" />
        {% endif %}
</div>

   


    <h3>Categorías y Subcategorías</h3>
    <div id="jstree-proton-3" ></div>
    <input type="hidden" name="categorias" id="categorias" value="" data-url="{{ path('sucursal_categorias')}}" data-sucursalid="{{ entity.getId }}">
    <input type="hidden" name="subcategorias" id="subcategorias" value="">
    
    <h3>Horarios de Atención </h3>
    <div id="hourForm" class="container">
    
    {% for d in dias %}
    <div  data-name="{{ d.getName() }}" data-id="{{ d.getId() }}" class="day col-md-12" style="margin-bottom: 10px;">
       <div id="label">{{ d.getName() }}: </div>
       <select name="fromH[{{ d.getId()}}]" class="hour from" style="width: 60px">
       {% for  h in 0..23 %}
         {% set selected='' %}
          {% if horarios is defined and horarios[d.getId()]['fromH'] == h%}
            {% set selected='selected'%}
          {% endif %}
        <option value="{{ h }}" {{ selected }}> {{ h }}</option>
        {% endfor %}
       </select>
       <select name="fromM[{{ d.getId()}}]" class="min from" style="width: 60px">
       {% for  h in [':00', ':15', ':30', ':45'] %}
        
        {% set selected='' %}
          {% if horarios is defined and horarios[d.getId()]['fromM'] == h%}
            {% set selected='selected'%}
          {% endif %}
        <option value="{{ h }}" {{ selected }}> {{ h }}</option>
        {% endfor %}
       </select>
      
       a
       <select name="toH[{{ d.getId()}}]" class="hour to" style="width: 60px">
       {% for  h in 0..23 %}
       {% set selected='' %}
          {% if horarios is defined and horarios[d.getId()]['toH'] == h%}
            {% set selected='selected'%}
          {% endif %}
        <option value="{{ h }}" {{ selected }}> {{ h }}</option>
        {% endfor %}
       </select>
       <select name="toM[{{ d.getId()}}]" class="min to" style="width: 60px">
       {% for  h in [':00', ':15', ':30', ':45']  %}
       {% set selected='' %}
          {% if horarios is defined and horarios[d.getId()]['toM'] == h%}
            {% set selected='selected'%}
          {% endif %}
        <option value="{{ h }}" {{ selected }}> {{ h }}</option>
        {% endfor %}
       </select>
       {% set checked='' %}
          {% if horarios is defined and horarios[d.getId()]['closed'] == 1%}
            {% set checked='checked'%}
        {% endif %} 
       <input type="checkbox" {{ checked}} name="closed[{{d.getId()}}]" value="1" class="closed"><span>Cerrado</span>
    </div>
    {% endfor %}
    
    </div>
    
    

