<div class="form-group">
        
        {{ form_label(form.calle,"Calle", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.calle, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_calle_errorloc' class="help-block"> {{ form_errors(form.calle) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.numero,"Numero", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.numero, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_numero_errorloc' class="help-block"> {{ form_errors(form.numero) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.piso,"Piso", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.piso, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_piso_errorloc' class="help-block"> {{ form_errors(form.piso) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.depto,"Depto", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.depto, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_depto_errorloc' class="help-block"> {{ form_errors(form.depto) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.zip,"C.P.", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.zip, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_zip_errorloc' class="help-block"> {{ form_errors(form.zip) }} </span>
        </div>
</div>


<div class="form-group">
        
        {{ form_label(form.zona,"Zona", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.zona, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_zona_errorloc' class="help-block"> {{ form_errors(form.zona) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.barrio,"Barrio", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.barrio, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_barrio_errorloc' class="help-block"> {{ form_errors(form.barrio) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.tipo,"Tipo", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.tipo, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_tipo_errorloc' class="help-block"> {{ form_errors(form.tipo) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.isDefault,"Por defecto", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-2">
            {{ form_widget(form.isDefault, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_isDefault_errorloc' class="help-block"> {{ form_errors(form.isDefault) }} </span>
        </div>
</div>