<div class="form-group">
        
        {{ form_label(form.calle,"Calle", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.calle, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_calle_errorloc' class="help-block"> {{ form_errors(form.calle) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.numero,"Número", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.numero, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_numero_errorloc' class="help-block"> {{ form_errors(form.numero) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.piso,"Piso", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.piso, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_piso_errorloc' class="help-block"> {{ form_errors(form.piso) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.depto,"Departamento", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.depto, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_depto_errorloc' class="help-block"> {{ form_errors(form.depto) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.zip,"Código Postal", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.zip, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_zip_errorloc' class="help-block"> {{ form_errors(form.zip) }} </span>
        </div>
</div>


<div class="form-group">
        
        {{ form_label(form.zona,"Zona", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.zona, { 'attr': {'class': 'form-control','data-url':  path ('customer_barrio_zona')} }) }}
            <span id='backend_customeradminbundle_direccion_zona_errorloc' class="help-block"> {{ form_errors(form.zona) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.barrio,"Barrio", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.barrio, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_barrio_errorloc' class="help-block"> {{ form_errors(form.barrio) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.tipo,"Tipo", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.tipo, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_tipo_errorloc' class="help-block"> {{ form_errors(form.tipo) }} </span>
        </div>
</div>
<div class="help-block" style="color: #333 !important;" >Si no sabes latitud y longitud dejalas en blanco que se autocompletan!</div>
<div class="form-group">
        
        {{ form_label(form.lat,"Latitud.", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.lat, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_lat_errorloc' class="help-block"> {{ form_errors(form.lat) }} </span>
        </div>
</div>

<div class="form-group">
        
        {{ form_label(form.lon,"Longitud", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.lon, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_customeradminbundle_direccion_lon_errorloc' class="help-block"> {{ form_errors(form.lon) }} </span>
        </div>
</div>


<div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>{{ form_widget(form.isDefault) }}
                 {{ form_label(form.isDefault,"Por defecto") }}</label>
            </div>
            <span id='backend_customeradminbundle_direccion_isDefault_errorloc' class="help-block"> {{ form_errors(form.isDefault) }} </span>
        </div>
    </div>
