{% extends '::customer/backend.html.twig' %}

{% block container -%}

 <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tus direcciones
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{ path("customer_principal") }}">Principal</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-customers"></i> Tus Direcciones
                            </li>
                        </ol>
                    </div>
                </div> <!-- row -->

                 <div class="row">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary" id="new_button" data-url="{{ path('direccion_new') }}">Nueva direccion</button>
                     </div>
                     <div class="col-lg-4">
                          <form id="custom-search-form" class="form-search form-horizontal pull-right" action="#">
                            
                            <div class="form-group input-group">
                                <input type="text" class="form-control search-query" id="search-query" placeholder="Buscar" value="{{ search }}">
                                <span class="input-group-btn"><button class="btn btn-default" id="search-button" data-url="{{ path('direccion') }}" type="button"><i class="fa fa-search"></i></button></span>
                            </div>
                           
                          </form>
                     </div> 
                 </div>
                    

                 <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th {% if pagination.isSorted('u.calle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Calle', 'u.calle') }}</th>
										
                                        <th>Nro.</th>
										<th>Piso</th>
										<th>Depto</th>
                                        <th>C.P.</th>
										<th>Zona/Prov.</th>
										<th>Barrio/Localidad</th>
										<th>Tipo</th>
										<th>Estado</th>
                                        <th style="width: 92px;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for direccion in pagination %}
                                       <tr>
                                            
                                                  <td>{{ direccion.calle }}</td>
                                                  <td>{{ direccion.numero }}</td>
                                                  <td>{{ direccion.piso }}</td>
												  <td>{{ direccion.depto }}</td>
												  <td>{{ direccion.zip }}</td>
												  <td>{{ direccion.getZona.getName }}</td>
												  <td>{% if  direccion.getBarrio %}{{ direccion.getBarrio.getName }}{% endif %}</td>
												  <td>{{ direccion.getTipo.getName }}</td>
                                                  <td>   {% if direccion.isDefault == 1 %} <span class="label label-success">Por defecto</span> {% endif %} </td>
												  <td>
                                                  <a href="{{ path('direccion_edit', { 'id': direccion.id }) }}"><i class="fa fa-pencil"></i></a>
                                                  <a href="#" class="btn confirm-delete"   data-toggle="modal" data-id={{ direccion.id }}  data-target="#myModal"><i class="fa fa-trash"></i></a>
                                                  </td>
                                      </tr>
                                      
                                      {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>   
                <!-- /.row -->

                <div class="pagination">
                       {{ knp_pagination_render(pagination) }}
    
               </div>



    
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Confirmar Borrado</h4>
            </div>
            <div class="modal-body">
                <p class="error-text">Esta seguro que desea borrar la direccion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-id="0"  data-url="{{ path('direccion_delete', { 'id': 'id' }) }}">Borrar</button>
        </div>
    </div>
  </div>
</div>
    
    
    
    
    
    
    <form action="" id="delete-form" method="post" {{ form_enctype(delete_form) }}>
    {{ form_widget(delete_form) }}
    <input type="hidden" value="DELETE" name="_method">
    
    </form>
    
    
    {% endblock %}



{% block javascripts %}
  {{ parent() }}
   {% javascripts '@BackendCustomerBundle/Resources/public/js/customer_index.js' filter='?uglifyjs2'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}
{% endblock %}
