{% extends '::backend.html.twig' %}

{% block container %}
 
 
 <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Listado de Categorías
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{ path("principal") }}">Principal</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-globe"></i> Listado de Categorías
                            </li>
                        </ol>
                    </div>
                </div> <!-- row -->

                 <div class="row">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary" id="new_button" data-url="{{ path('categoria_new') }}">Nuevo</button>
                     </div>
                     <div class="col-lg-4">
                          <form id="custom-search-form" class="form-search form-horizontal pull-right" action="#">
                            
                            <div class="form-group input-group">
                                <input type="text" class="form-control search-query" id="search-query" placeholder="Buscar" value="{{ search }}">
                                <span class="input-group-btn"><button class="btn btn-default" id="search-button" data-url="{{ path('categoria') }}" type="button"><i class="fa fa-search"></i></button></span>
                            </div>
                           
                          </form>
                     </div>
                     <div class="col-lg-3">
                     {% if is_granted("ROLE_VIEWCATEGORIA") %} <button class="btn btn-primary" type="button" id="exportar_button" data-url="{{ path('categoria_exportar') }}" >Exportar </button> {% endif %}
                     </div> 
                 </div>
                    

                 <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th {% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'u.name') }}</th>
                                        <th>Codigo</th>
                                        <th>Imagen</th>
                                        <th>Restringida</th>
                                        <th style="width: 36px;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for categoria in pagination %}
                                       <tr>
                                                  <td>{{ categoria.name |capitalize}}</td>
                                                  <td>{{ categoria.code }}</td>
                                                  <td>
                                                  {% if categoria.getWebPath() %}
                                                  <img src="{{ asset(categoria.getWebPath()) }}" width="100" height="100" />
                                                  {% endif %}
                                                  </td>
                                                  <td>
                                                   {% if categoria.getIsRestrict() %}
                                                       <span class="label label-danger">Restringida</span>
                                                   {% endif %} 
                                                  </td>
                                                  <td>
                                                  {% if is_granted("ROLE_MODCATEGORIA") %}
                                                  <a href="{{ path('categoria_edit', { 'id': categoria.id }) }}"><i class="fa fa-pencil"></i></a>
                                                  {% endif %}
                                                  {% if is_granted("ROLE_DELCATEGORIA") %}
                                                  <a href="#" class="btn confirm-delete"   data-toggle="modal" data-id={{ categoria.id }}  data-target="#myModal"><i class="fa fa-trash"></i></a>
                                                  {% endif %}
                                                  </td>
                                      </tr>
                                      
                                      {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>   
                <!-- /.row -->

                <div class="pagination">
                       {{ knp_pagination_render(pagination) }}
    
               </div>



    
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Confirmar Borrado</h4>
            </div>
            <div class="modal-body">
                <p class="error-text">Esta seguro que desea borrar la categoria?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-id="0"  data-url="{{ path('categoria_delete', { 'id': 'id' }) }}">Borrar</button>
        </div>
    </div>
  </div>
</div>
    
    
    
    
    
    
    <form action="" id="delete-form" method="post" {{ form_enctype(delete_form) }}>
    {{ form_widget(delete_form) }}
    <input type="hidden" value="DELETE" name="_method">
    
    </form>
 
 
 
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendAdminBundle/Resources/public/js/search_index.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/exportar_entidad.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}      
  
{% endblock %}


