 <!-- Sidebar Menu Items  -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    
                    <li class="active">
                        <a href="{{ path('customer_principal') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    
                    <li class="active">
                        <a href="{{ path('customer_profile') }}"><i class="fa fa-wa fa-user"></i> Perfil</a>
                    </li>
                    {% if is_granted('ROLE_VIEWDIRECCION') %}                    
          					<li class="active">
                                  <a href="{{ path('direccion') }}"><i class="fa fa-wa fa-map-marker"></i> Mis Direcciones</a>
                     </li>
                     {% endif %}
                     {% if is_granted('ROLE_VIEWFAVORITO') %}                    
          					<li class="active">
                                  <a href=""><i class="fa fa-wa fa-map-marker"></i> Mis Favoritos</a>
                              </li>
                     {% endif %}   
                     {% if is_granted('ROLE_VIEWSUCURSAL') %}       
          					<li class="active">
                                  <a href="{{ path('sucursal') }}"><i class="fa fa-wa fa-home"></i> Mis Sucursales</a>
                              </li>               					
                     {% endif %}   
                     {% if is_granted('ROLE_VIEWPRODUCTO') %}       
          					<li class="active">
                                  <a href="{{ path('producto') }}"><i class="fa fa-wa fa-shopping-cart"></i> Mis Productos</a>
                              </li>               					
                     {% endif %}
                     {% if is_granted('ROLE_VIEWVARIEDAD') %} 
             					<li class="active">
                          <a href="{{ path('variedad') }}"><i class="fa fa-wa fa-shopping-cart"></i> Variedades</a>
                      </li>
                     {% endif %}   
                     {% if is_granted('ROLE_VIEWCOMPRA') %}       
          					<li class="active">
                                  <a href=""><i class="fa fa-wa fa-map-marker"></i> Mis Compras</a>
                              </li>               					
                     {% endif %}      	 
                     {% if is_granted('ROLE_VIEWVENTA') %}       
          					<li class="active">
                                           						 
                                <a href="{{ path('pedido') }}"><i class="fa fa-wa fa-map-marker"></i> Mis Ventas</a>
                       </li>               					
                     {% endif %}


                </ul>
            </div>