 <!-- Sidebar Menu Items  -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    
                    <li >
                        <a href="{{ path('customer_principal') }}"><i class="fa fa-fw fa-dashboard"></i> Principal</a>
                    </li>
                    
                    <li >
                        <a href="{{ path('customer_profile') }}"><i class="fa fa-wa fa-user"></i> Perfil</a>
                    </li>
                    {% if is_granted('ROLE_VIEWDIRECCION') %}                    
          					<li >
                                  <a href="{{ path('direccion') }}"><i class="fa fa-wa fa-map-marker"></i> Mis Direcciones</a>
                     </li>
                     {% endif %}
                     {% if is_granted('ROLE_VIEWFAVORITO') %}                    
          					<li >
                                  <a href="{{ path('favorito')}}"><i class="fa fa-wa fa-star"></i> Mis Favoritos</a>
                              </li>
                     {% endif %}   
                     {% if is_granted('ROLE_VIEWSUCURSAL') %}       
          					<li >
                                  <a href="{{ path('sucursal') }}"><i class="fa fa-wa fa-home"></i> Mis Sucursales</a>
                              </li>               					
                     {% endif %}   
                     {% if is_granted('ROLE_VIEWPRODUCTO') %}       
          					<li>
                                  <a href="{{ path('producto') }}"><i class="fa fa-wa fa-cube"></i> Mis Productos</a>
                              </li>               					
                     {% endif %}
                     {% if is_granted('ROLE_IMPORTAR') %}
                        <li>
                            <a href="{{ path('producto_importar') }}"><i class="fa fa-wa fa-upload"></i> Carga masiva</a>
                        </li>
                     {% endif %}
                     {% if is_granted('ROLE_EDICION') %}
                        <li>
                            <a href="{{ path('producto_edicion_masiva') }}"><i class="fa fa-pencil-square-o"></i>Edición masiva</a>
                        </li>
                     {% endif %}

                    {% if is_granted('ROLE_ADDPRODUCTO') %}
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Campañas <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            {% if is_granted('ROLE_ADDPRODUCTO') %}
                                <li>
                                    <a href="{{ path('banner') }}"><i class="fa fa-picture-o"></i> Banners</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADDPRODUCTO') %}
                        <li>
                            <a href="{{ path('promocion') }}"><i class="fa fa-wa fa-gift"></i> Mis Promociones</a>
                        </li>
                             {% endif %}
                        </ul>
                     </li>
                     {% endif %}

                     {% if is_granted('ROLE_VIEWVARIEDAD') %} 
             					<li >
                          <a href="{{ path('variedad') }}"><i class="fa fa-wa fa-cubes"></i> Variedades</a>
                      </li>
                     {% endif %}   
                     {% if is_granted('ROLE_VIEWCOMPRA') %}       
          					<li >
                                  <a href="{{ path('compra') }}"><i class="fa fa-wa fa-shopping-cart"></i> Mis Compras</a>
                              </li>               					
                     {% endif %}      	 
                     {% if is_granted('ROLE_VIEWVENTA') %}       
          					<li >
                                           						 
                                <a href="{{ path('pedido') }}"><i class="fa fa-wa fa-credit-card "></i> Mis Ventas</a>
                       </li>               					
                     {% endif %}

                     <li >
                       <a href="{{ path('frontend_homepage')}}"><i class="fa fa-thumbs-up"></i>Volver a comprar!</a>
                     </li>
                </ul>
            </div>
