 <!-- Sidebar Menu Items  -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{ path('customer_principal') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="{{ path('customer_profile') }}"><i class="fa fa-wa fa-user"></i> Perfil</a>
                    </li>
					<li class="active">
                        <a href="{{ path('direccion') }}"><i class="fa fa-wa fa-map-marker"></i> Direcciones</a>
                    </li> 
					<li class="active">
                        <a href="{{ path('sucursal') }}"><i class="fa fa-wa fa-home"></i> Sucursales</a>
                    </li>
					<li class="active">
                        <a href="{{ path('producto') }}"><i class="fa fa-wa fa-shopping-cart"></i> Productos</a>
                    </li>
					<li class="active">
                        <a href="{{ path('variedad') }}"><i class="fa fa-wa fa-shopping-cart"></i> Variedades</a>
                    </li>
					<li class="active">
                        <a href="{{ path('variedad') }}"><i class="fa fa-wa fa-wa fa fa-list"></i> Pedidos</a>
                    </li>               						 
                </ul>
            </div>