{% extends '::backend.html.twig' %}

{% block container %}
 
<h4> BIENVENIDO {{ app.user.name }} !!</h4>
 
 {% if is_granted('ROLE_VISITOR') %}
  
 <p>
  Usted no posee rol asignado contactese con el administrador.
 </p>
 {% endif %} 
 
  {% if is_granted('ROLE_VIEWUSER') %}
     <div class="col-md-3 boton_initial">
      <a href="{{ path('user') }}"><img src="{{ asset("img/user.png")}}" width="150" height="150"></a>
      <span>USUARIOS</span>
     </div>
  {% endif %}
  {% if is_granted('ROLE_VIEWCUSTOMER') %}
     <div class="col-md-3 boton_initial">
      <a href="{{ path('customer') }}"><img src="{{ asset("img/user.png")}}" width="150" height="150"></a>
      <span>CLIENTES</span>
     </div>
  {% endif %}
  {% if is_granted('ROLE_VIEWZONA') %}
      <div class="col-md-3 boton_initial">
        <a href="{{ path('zona') }}"><img src="{{ asset("img/localidad.png")}}" width="150" height="150"></a>
        <span>ZONAS</span>
     </div>
  {% endif %}
  {% if is_granted('ROLE_VIEWBARRIO') %}
      <div class="col-md-3 boton_initial">
        <a href="{{ path('barrio') }}"><img src="{{ asset("img/barrio.png")}}" width="150" height="150"></a>
        <span>BARRIOS</span>
     </div>
  {% endif %}

{% endblock %}
